

@model MVCTest.Data.ViewModels.EmployeeViewModel

<tr>
    <td class="col-md-2">
        @Model.FirstName @Model.LastName
    </td>

    <td class="col-md-2">
        @Model.Email
    </td>


    <td class="col-md-2">
        @Model.Phone
    </td>

    <td class="col-md-2">
        @Model.YearsEmployed
    </td>
    <td></td>
</tr>


